<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head') %>
</head>
<body>
<%- include('components/nav' )%>
<div class=" container-fluid py-5 d-flex flex-wrap justify-content-center align-items-center " style="background-color: #f2f2f2; border-radius: 67px;">
    <table class="table  table-hover mx-5">
        <tr>
            <th>Product name</th>
            <th>Owner username</th>
            <th>Type</th>
            <th>Status</th>
            <th>Rating</th>
            <th>Edit</th>
        </tr>
        <%for(let k=start;k<((end>start+20)?start+20:end);k++){%>
        <tr>
            <td> <a class="text pl-5" href="/product/<%-products[k].product.id%>"><h3><%-products[k].product.name%></h3></a></td>
            <td> <a class="text pl-5" href="/user/profile/<%-products[k].user.username%>"><img class="rounded-circle" width="65" src="<%-products[k].user.avatarUrl%>"><%-products[k].user.username%></a></td>
            <td><%-products[k].product.type%></td>
            <td><%-products[k].product.status%></td>
            <td><%-products[k].product.rating%></td>
            <td>
                <form method="post" action="/catalog/remove/<%-products[k].product.id%>">
                    <button type="submit" class="btn btn-danger">remove</button>
                </form>
            </td>
        </tr>
        <%}%>

    </table>
    <div class="d-flex flex-row justify-content-center">
        <%if(page!=1){%>
        <a href="allProducts/<%-page-1%>"><button class="btn btn-sm btn-secondary"><%-page-1%></button></a>
        <%}%>
        <a><button class="btn btn-sm btn-secondary"><%-page%></button></a>
        <%if(end-start>20){%>
        <a href="allProducts/<%-page+1%>"><button class="btn btn-sm btn-secondary"><%-page+1%></button></a>
        <%}%>
    </div>
</div>
<%- include('components/footer')%>
</body>
</html>