<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head') %>
</head>
<body>
<%- include('components/nav')%>

<div class="container-fluid sections" >
    <div class="container py-5 h-100 inSections">
        <h1 class="text-center m-5"><%-product.name%></h1>
        <div id="carouselExampleIndicators" class="carousel slide my-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <%for(let k=0;k<product.images.length;k++){%>
                    <%if(k==0){%>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <%} else {%>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%-k%>" aria-label="Photo <%-k%>"></button>
                    <%}%>

                <%}%>
            </div>
            <div class="carousel-inner">
                <%for(let k=0;k<product.images.length;k++){%>
                <%if(k==0){%>
                    <div class="carousel-item active">
                        <img src="<%-product.images[k].path%>" class="d-block w-100" >
                    </div>
                <%} else {%>
                    <div class="carousel-item">
                        <img src="<%-product.images[k].path%>" class="d-block w-100">
                    </div>
                <%}%>

                <%}%>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="d-flex justify-content-end my-5">
            <h2><%-product.cost%></h2>
        </div>
        <form class="d-flex justify-content-end my-5">
            <%if(auth!=null){%>
            <%if(!isWishList){%>
                <button class="btn btn-success btn-lg" onclick="addToMyWishList('<%-product._id%>')"> add to my wish list</button>
            <%}else{%>
                <button class="btn btn-danger btn-lg" onclick="deleteFromMyWishList('<%-product._id%>')">remove from my wish list</button>
            <%}%>
            <%}%>
        </form>

        <div class="d-flex flex-column justify-content-center my-5">
            <h1 class="text-center">Description</h1>
            <p><%-product.description%></p>
        </div>
        <%if(auth){%>
            <form>
                <div class="md-form card-body container d-flex flex-row">
                    <textarea class="md-textarea form-control" rows="4" id="comment"  name="comment" minlength="5"></textarea>
                    <button onclick="newAdd(document.getElementById('comment'),`<%-auth.id%>`,`<%-product.id%>`)" class="btn btn-success" type="submit">comment</button>
                </div>
            </form>
        <%}%>
        <div class="card-body" style="font-size: 20px;">
            <h3>Comments <%-pcomments.length%></h3>
            <div style="overflow-y: auto; height: 500px; background: rgba(0, 0, 0, .09); background-blend-mode: darken; border-width: 25px;">
                <%for(k=0;k<pcomments.length;k++){%>
                <div class="card-body">
                    <div ><img src="<%-pcomments[k].user.avatarUrl%>" class="rounded-circle" width="35px"> <%-pcomments[k].user.username%></div>
                    <div> <%-pcomments[k].comments.commentText%></div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
<%- include('components/footer')%>
</body>
</html>